body {
  background-color: cornflowerblue;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.grid {
  height: 400px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 2px ridge blue;
  border-radius: 5px;
}

button {
  width: 125px;
  height: 100px;
  border: none;
  font-weight: bold;
  background-color: lightskyblue;
  margin: 20px;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
